---
// filepath: c:\Users\Anto\chorosia.com\src\pages\404.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import siteConfig from '../data/site-config';
import Button from '../components/Button.astro';
---

<BaseLayout
    description="Page Not Found"
    image={siteConfig.image}
    title="Page Not Found"
    description="The page you're looking for is not here."
    image={{ src: '/images/Anunnaki.svg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <div class="flex flex-col items-center justify-center text-left sm:flex-row sm:text-left">
        <!-- Left Section: Image -->
        <div class="flex-1 flex items-center justify-center">
            <img src="/images/Anunnaki.svg" alt="Anunnaki illustration" class="w-2/3 max-w-xs sm:w-full" />
        </div>

        <!-- Right Section: Text -->
        <div class="flex-1 flex flex-col items-center sm:items-start">
            <h2 class="mb-12 text-3xl font-serif italic sm:text-3xl">404: Stray Pages</h2>
            <p class="mb-8 text-lg text-muted">The page you're looking for is not here.</p>
            <Button href="/">Go Home</Button>
        </div>
    </div>
</BaseLayout>
