---
// filepath: src/pages/thank-you.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import siteConfig from '../data/site-config';
---

<BaseLayout
    description="Chorosia Hot Sauce"
    image={siteConfig.image}
    title="Sauce It Up!"
    description="Thanks for buying our hot sauce!"
    image={{ src: '/images/fa-hot-sauce-label.svg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <div class="items-center justify-center text-center">
        <h1 class="font-serif italic text-5xl text-[#b26750]">Thanks for buying <br /> our hot sauce!</h1>
        <a href="https://store.chorosia.com/discount/HAWT-SAWCE" target="_blank" rel="noopener">
            <img src="/images/fa-hot-sauce-label.svg" alt="Chorosia Fire Assault" class="w-3/4 mx-auto" />
        </a>

        <p class="mb-8 text-lg text-muted">
            In case you'd like to spend more money on our stuff, here's a 35% discount on all merch in our store: <a
                href="https://store.chorosia.com/discount/HAWT-SAWCE"
                class="underline font-bold">HAWT-SAWCE</a
            >
        </p>

        <Button href="https://store.chorosia.com/discount/HAWT-SAWCE" download> Visit Store </Button>
    </div>
</BaseLayout>
