---
// You can write JavaScript or TypeScript logic here
---
<html>
  <head>
    <title>Chorosia</title>
  </head>
  <body>
    <h1>Welcome to Chorosia's Official Website</h1>
    <p>Hello boys, are we live?!! Explore our music, tour dates, and more!</p>
  </body>
</html>