---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Chorosia">
  <body>

    <main>
      
      <div class="logo-container">
            <img src="../src/assets/logos/Chorosia_Logo_White.svg" alt="You're trapped in the darkened hues." class="logo">
      </div>
  
    </main>

  </body>

</Layout>