---
const menuItems = ["NEWS", "MUSIC", "DATES", "STORE", "ABOUT", "CONTACT"];
const leftMenuItems = menuItems.slice(0, 3);
const rightMenuItems = menuItems.slice(3);
---

<header class="bg-black bg-opacity-75 text-white p-4 fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto flex items-center justify-center space-x-8">

    <nav class="flex space-x-4">
      {leftMenuItems.map(item => (
        <li class="list-none"><a href={`/${item.toLowerCase()}`} class="hover:text-gray-400">{item}</a></li>
      ))}
    </nav>

    <div class="text-lg font-bold">
      <a href="/" class="hover:text-gray-400">
        <img src="/logos/Chorosia_Logo_White.svg" alt="Chorosia Logo" class="custom-logo mx-auto"> <!-- Add custom class -->
      </a>
    </div>

    <nav class="flex space-x-4">
      {rightMenuItems.map(item => (
        <li class="list-none"><a href={`/${item.toLowerCase()}`} class="hover:text-gray-400">{item}</a></li>
      ))}

    </nav>
    
  </div>
</header>

<style>
.custom-logo {
  height: 4rem; /* Adjust the height */
}
</style>