---
import NavLink from './NavLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import siteConfig from '../data/site-config';
import image from '../03_Chorosia_Logo.png';

const navLinks = siteConfig.headerNavLinks || [];
---

<nav class="w-full">
    <div class="max-w-3xl mx-auto flex items-center justify-between min-h-10 pt-4 pb-12 relative sm:min-h-14 sm:pb-24 md:pt-8">
        <a href="/" class="flex items-center">
            <img src="../03_Chorosia_Logo.png" alt="Logo" class="max-h-12" />
        </a>
        <div class="flex items-center">
            {
                navLinks.length > 0 && (
                    <ul id="menu-items" class="menu flex gap-6">
                        {navLinks.map((link) => (
                            <li class="py-1">
                                <NavLink
                                    class="text-xl font-serif text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base"
                                    href={link.href}
                                >
                                    {link.text}
                                </NavLink>
                            </li>
                        ))}
                    </ul>
                )
            }
        </div>
    </div>
    <div class="absolute right-2 top-4 z-10 md:top-8">
        <ThemeToggle />
    </div>
</nav>
