---
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const subscribe = siteConfig.subscribe;
---

{
    subscribe?.formUrl && (
        <section class:list={['px-8 py-12 flex flex-col items-center text-center sm:px-12 sm:py-16']}>
            {subscribe.title && (
                <h2 class:list={['w-full max-w-xl text-2xl leading-tight font-serif font-medium sm:text-4xl', subscribe.text ? 'mb-4' : 'mb-8']}>
                    {subscribe.title}
                </h2>
            )}
            {subscribe.text && <p class="w-full max-w-xl mb-8 text-sm leading-normal">{subscribe.text}</p>}
            <form
                action="https://bandcamp.us14.list-manage.com/subscribe/post?u=af4560e7badbb84a09a9b1588&amp;id=592fbcca1d&amp;f_id=004db7e5f0"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="w-full max-w-xl flex flex-col gap-3.5 sm:flex-row"
                target="_blank"
            >
                <label for="mce-EMAIL" class="sr-only">Email Address</label>
                <input
                    type="email"
                    name="EMAIL"
                    id="mce-EMAIL"
                    class="w-full h-9 px-5 py-2 text-sm text-main bg-transparent border border-main rounded-full placeholder:text-main/60 focus:outline-none"
                    required
                    placeholder="Your email"
                />
                <Button type="submit" name="subscribe" class="w-full h-9 sm:w-auto">
                    Subscribe
                </Button>
            </form>
        </section>
    )
}
