---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';
import MerchButton1 from '../../components/MerchButton-Hellhound-TShirt.astro';
import MerchButton2 from '../../components/MerchButton-Wolf-Hoodie.astro';
import MerchButton3 from '../../components/MerchButton-Wolf-TShirt.astro';
import MerchButton4 from '../../components/MerchButton-Hellhound-TShirt-CreamWhite.astro';
import Button from '../../components/Button.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout
    title="Music & Merch"
    description="Chorosia discography — progressive sludge / death doom from Vienna. Records, merch, and more."
    image={{ src: '/07_Chorosia_by_Martin_Ramisu_2023.jpg', alt: 'Chorosia' }}
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Releases</h1>
    {portfolio.map((project) => <ProjectPreview project={project} class="mb-10 sm:mb-12" />)}

    {
        (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Visit our Merch Store</h2>
                <div class="merch">
                    <MerchButton1 />
                    <MerchButton2 />
                    <MerchButton3 />
                    <MerchButton4 />
                </div>
                <div class="mt-12 sm:mt-16">
                    <Button href="https://store.chorosia.com" target="_blank" rel="noopener noreferrer">
                        See More in Store
                    </Button>
                </div>
            </div>
        )
    }
    <!--  <Pagination page={page} class="my-16 sm:my-24" />  -->
</BaseLayout>
