/* filepath: /c:/Users/Anto/chorosia.com/src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: black;
}

/* Add any other global styles here */